@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 text-gray-900 dark:bg-gray-800 dark:text-gray-50 overflow-hidden;
}

.scrollbar-track-y {
  background-color: rgb(226 232 240 / 0.50) !important;
  width: 4px !important;

  @apply rounded;
}

.scrollbar-thumb-y {
  width: 4px !important;
}